{% extends 'base.html.twig' %}

{% block title %}Skrt, skrt, skrt{% endblock %}

{% block body %}
    <div id="root"></div>
    <div id="audio-notification" data-link="{{ asset('notification.mp3') }}"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
